
.titulo_principal{

    text-decoration: underline;
    text-align: center;
    margin: 30px;
    font-size: 5rem;
    
    
}

.img_presentacion{

    border: 5px transparent rgb(2, 2, 2);
    box-shadow: 0px 0px 40px rgb(0, 0, 0);
    border-radius: 5%;
    height: 500px;
    transition: .9s ease-in-out;
    
}

.img_presentacion:hover {

  transform: scale(1.1);
     transform: rotate(7deg); 
    transform: translateX(15);
}


.sub_principal{
    margin-top: 35px;
    font-size: 4rem;
}
.card{
    
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.subtitulo{
    font-size: 4rem;
    margin: 15px;
}

.hero_text{

    font-size: 2rem;
}
